spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/psyche_db?characterEncoding=utf-8&reWriteBatchedInserts=true
    username: ${POSTGRES_USER:psycheguard}
    password: ${POSTGRES_PASSWORD:psycheguard_dev_2025}
  sql:
    init:
      mode: never
  jpa:
    hibernate:
      ddl-auto: update
    defer-datasource-initialization: true
    show-sql: true
    properties:
      hibernate:
        jdbc:
          batch_size: 20
server:
  port: 9090

